@font-face {
  font-family: "iconfont-common"; /* Project id 4782001 */
  src: url('iconfont.woff2?t=1734271719774') format('woff2'),
       url('iconfont.woff?t=1734271719774') format('woff'),
       url('iconfont.ttf?t=1734271719774') format('truetype');
}

.iconfont-common {
  font-family: "iconfont-common" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-common-share:before {
  content: "\e61d";
}

.icon-common-loading:before {
  content: "\e8fc";
}

