@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './variable/index.scss';
@import './layer/index.scss';

@import './custom/index.scss';

html, body {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

// 图标鼠标悬浮的动效
.icon-action {
  @apply transition hover:scale-[1.2];
}
